# Basic directories to ignore
.venv/
.vscode/
temp/

# Basic files to ignore
scripts_different/cw1.ipynb
scripts_different/AIEvenorODD.py
scripts_different/names.csv
scripts/jupyternb.ipynb
scripts/python.py
tests/*